body{
    font-family: "Inconsolata", monospace;
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}
p{
    margin: 5px;
}
.container{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.box{
    display: flex;
    align-items: center;
    /* background-color: green; */
    width: 420px;
    padding: 12px 0;


}

.section{
    display: flex;
    /* background-color: aliceblue; */
    align-items: center;
    flex-direction: column;

} 
.index, .answer{
    color: #0000006d;
}
.index{
    width: 40px;
    flex-shrink: 0;
}
.content{
    flex: 1;
}
.answer{
    margin-top: 8px;
}
.link{
    padding: 0.7px 10px;
    border: 1px solid #00000013;
    border-radius: 5px;
}
.link:hover{
    background-color: #ff6b1c35;
}

.badge{
    font-weight: 800;
    background: #25CC0F;
    background: -webkit-linear-gradient(to bottom right, #25CC0F 0%, #9E3212 100%);
    background: -moz-linear-gradient(to bottom right, #25CC0F 0%, #9E3212 100%);
    background: linear-gradient(to bottom right, #25CC0F 0%, #9E3212 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a{
    text-decoration: none;
    color: #0000006d;
}
