

.error{
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    color: #333;
    background-color: #ccc;
    padding: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    border-radius: 5px;
}
